# Recruit Restaurant Visitor Forecasting

## Part 1. Organize the clean up the data

#### The original files includes 'air_reserve.csv', 'air_store_info.csv', 'air_visit_data.csv', 'date_info.csv', 'hpg_reserve.csv', 'hpg_store_info.csv', 'sample_submission.csv', 'store_id_relation.csv', need to predict the visitors in the sample_submission based on the information provided by other files.
#### First thing is to import all the file and figure out all the useful information needed for the prediction.

In [95]:
import glob

files = glob.glob("*.csv")

print(files)

['air_reserve.csv', 'air_store_info.csv', 'air_visit_data.csv', 'date_info.csv', 'hpg_reserve.csv', 'hpg_store_info.csv', 'sample_submission.csv', 'store_id_relation.csv']

In [96]:
import pandas as pd

df = {}

for filename in files:
    df[filename.replace('.csv', '')] = pd.read_csv(filename)

print(df.keys())

dict_keys(['air_store_info', 'sample_submission', 'air_visit_data', 'store_id_relation', 'air_reserve', 'date_info', 'hpg_reserve', 'hpg_store_info'])

In [97]:
# Check the length and information in 'store_id_relation'

print(len(pd.unique(df['store_id_relation']['air_store_id'])))
df['store_id_relation'].head()

150

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [98]:
# Check the number of 'air_store_id' in 'air_reserve'

print(len(pd.unique(df['air_reserve']['air_store_id'])))
df['air_reserve'].head()

314

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [99]:
# Check the length and information of 'air_store_info'

print(len(df['air_store_info']))
df['air_store_info'].head()

829

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [100]:
# Check the length and information of 'hpg_store_info'

print(len(df['hpg_store_info']))
df['hpg_store_info'].head()

4690

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [101]:
# Check the format of 'sample_submission'

df['sample_submission'].head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

#### Because the sample submission has no reservation information, I decide not to use the reservation info from 'hpg_reserve' and 'air_reserve' for predicting the visitors.

#### The sample submission only contained air_store_id, which could be provided by 'air_store_info' totally, so 'hpg_store_info' is not needed anymore.

#### Finally the files needed for the prediction include 'air_store_info', 'air_visit_data' and 'date_info'.

#### Below includes some of my operations with the reservation information, which are not useful anymore and will be commented out.

In [41]:
# Check if the 'air_store_info' contained all the 'air_store_id' needed for 'air_reserve'
"""
check_air_reserve = pd.Series(pd.unique(df['air_reserve']['air_store_id'])).isin(df['air_store_info']['air_store_id'])
flag = True
for i in check_air_reserve:
    if i == False:
        print('False is found')
        flag = False
if flag == True:
    print('check successful, all the air_store_id in air_reserve could be found in air_store_info')
    
"""

In [42]:
# Check if the 'air_store_info' contained all the 'air_store_id' needed for 'store_id_relation'
# It turned out the 'air_store_info' contained all the infomation needed. The 'hpg_store_info' could be neglected.

"""
check_air_reserve = pd.Series(pd.unique(df['store_id_relation']['air_store_id'])).isin(df['air_store_info']['air_store_id'])
flag = True
for i in check_air_reserve:
    if i == False:
        print('False is found')
        flag = False
if flag == True:
    print('check successful, all the air_store_id in store_id_relation could be found in air_store_info')
"""

In [43]:
"""
hpg_reserve_merge = pd.merge(df['hpg_reserve'], df['store_id_relation'], how = 'left', on = 'hpg_store_id')
air_reserve_on_hpg = hpg_reserve_merge.dropna(axis = 0).reset_index().drop(['hpg_store_id', 'index'], axis=1)
total_air_reserve = pd.concat([air_reserve_on_hpg, df['air_reserve']]).reset_index().drop(['index'], axis = 1)
print(len(df['air_reserve']))
print(len(air_reserve_on_hpg))
print(len(total_air_reserve))
total_air_reserve.head()
total_air_reserve['res_visit_datetime'] = pd.to_datetime(total_air_reserve['visit_datetime'])
total_air_reserve['reserve_datetime'] = pd.to_datetime(total_air_reserve['reserve_datetime'])
total_air_reserve['visit_date'] = total_air_reserve['res_visit_datetime'].dt.date
total_air_reserve['reserve_diff'] = total_air_reserve.apply(lambda a: (a['res_visit_datetime']- a['reserve_datetime']).days, axis=1)
total_air_reserve.drop('visit_datetime',  axis = 1, inplace=True)
total_air_reserve.drop('reserve_datetime',  axis = 1, inplace=True)
total_air_reserve.drop('res_visit_datetime',  axis = 1, inplace=True)
print(len(total_air_reserve))
total_air_reserve.head()
avg_reserv = total_air_reserve.groupby(['air_store_id','visit_date'],as_index=False).mean().reset_index()
total_air_reserve = total_air_reserve.groupby(['air_store_id','visit_date'],as_index=False).sum().reset_index().drop(['reserve_diff', 'index'], axis = 1)
total_air_reserve['reserve_diff'] = avg_reserv['reserve_diff']
print(len(total_air_reserve))
total_air_reserve.head()
"""

In [102]:
# Format the date information

df['air_visit_data']['visit_datetime'] = pd.to_datetime(df['air_visit_data']['visit_date'])
df['air_visit_data']['visit_date'] = df['air_visit_data']['visit_datetime'].dt.date
df['air_visit_data'].head()

           air_store_id  visit_date  visitors visit_datetime
0  air_ba937bf13d40fb24  2016-01-13        25     2016-01-13
1  air_ba937bf13d40fb24  2016-01-14        32     2016-01-14
2  air_ba937bf13d40fb24  2016-01-15        29     2016-01-15
3  air_ba937bf13d40fb24  2016-01-16        22     2016-01-16
4  air_ba937bf13d40fb24  2016-01-18         6     2016-01-18

In [103]:
# Split the 'air_store_id' and 'visit_date' in sample_submission and format the visit_date 

df['sample_submission']['visit_datetime'] = df['sample_submission']['id'].map(lambda x: str(x).split('_')[2])
df['sample_submission']['air_store_id'] = df['sample_submission']['id'].map(lambda x: '_'.join(x.split('_')[:2]))
df['sample_submission']['visit_datetime'] = pd.to_datetime(df['sample_submission']['visit_datetime'])
df['sample_submission']['visit_date'] = df['sample_submission']['visit_datetime'].dt.date
df['sample_submission'].drop(['id'], axis = 1, inplace = True)
df['sample_submission'].head()

   visitors visit_datetime          air_store_id  visit_date
0         0     2017-04-23  air_00a91d42b08b08d9  2017-04-23
1         0     2017-04-24  air_00a91d42b08b08d9  2017-04-24
2         0     2017-04-25  air_00a91d42b08b08d9  2017-04-25
3         0     2017-04-26  air_00a91d42b08b08d9  2017-04-26
4         0     2017-04-27  air_00a91d42b08b08d9  2017-04-27

In [104]:
# Concatenate the 'air_visit_data' and 'sample_submission' into total_dataset, and check their length to confirm

total_dataset = pd.concat([df['air_visit_data'], df['sample_submission']], axis = 0)
print(len(df['air_visit_data']))
print(len(df['sample_submission']))
print(len(total_dataset))
total_dataset.head()

252108
32019
284127

           air_store_id  visit_date visit_datetime  visitors
0  air_ba937bf13d40fb24  2016-01-13     2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14     2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15     2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16     2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18     2016-01-18         6

In [105]:
df['date_info']['calendar_date'] = pd.to_datetime(df['date_info']['calendar_date'])
df['date_info']['visit_date'] = df['date_info']['calendar_date'].dt.date
df['date_info'] = df['date_info'].drop(['calendar_date'], axis = 1)
df['date_info'].head()

  day_of_week  holiday_flg  visit_date
0      Friday            1  2016-01-01
1    Saturday            1  2016-01-02
2      Sunday            1  2016-01-03
3      Monday            0  2016-01-04
4     Tuesday            0  2016-01-05

In [106]:
# Merge the 'air_store_info' and 'date_info' into the total_dataset, 
# and transform the datetime information into year, month and date

total_dataset = pd.merge(total_dataset, df['air_store_info'], how='left', on='air_store_id')
total_dataset = pd.merge(total_dataset, df['date_info'], how='left', on='visit_date')
total_dataset['visit_datetime'] = pd.to_datetime(total_dataset['visit_date'])
total_dataset['year']  = total_dataset['visit_datetime'].dt.year
total_dataset['month'] = total_dataset['visit_datetime'].dt.month
total_dataset['day']   = total_dataset['visit_datetime'].dt.day
total_dataset.drop('visit_datetime', axis=1, inplace=True)

# One Hot Encoding Conversion of the 'air_genre_name', 'air_area_name', 'day_of_week', 'year' using the pandas.get_dummies 

cat_features = [col for col in ['air_genre_name', 'air_area_name', 'day_of_week', 'year']]
for column in cat_features:
    temp = pd.get_dummies(pd.Series(total_dataset[column]))
    total_dataset = pd.concat([total_dataset,temp],axis=1)
    total_dataset = total_dataset.drop([column],axis=1)
    
total_dataset.head()

,air_store_id,visit_date,visitors,latitude,longitude,holiday_flg,month,day,Asian,Bar/Cocktail,...,Ōsaka-fu Ōsaka-shi Ōhiraki,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,2016,2017
0,air_ba937bf13d40fb24,2016-01-13,25,35.658068,139.751599,0,1,13,0,0,...,0,0,0,0,0,0,0,1,1,0
1,air_ba937bf13d40fb24,2016-01-14,32,35.658068,139.751599,0,1,14,0,0,...,0,0,0,0,0,1,0,0,1,0
2,air_ba937bf13d40fb24,2016-01-15,29,35.658068,139.751599,0,1,15,0,0,...,0,1,0,0,0,0,0,0,1,0
3,air_ba937bf13d40fb24,2016-01-16,22,35.658068,139.751599,0,1,16,0,0,...,0,0,0,1,0,0,0,0,1,0
4,air_ba937bf13d40fb24,2016-01-18,6,35.658068,139.751599,0,1,18,0,0,...,0,0,1,0,0,0,0,0,1,0

In [93]:
# The information of latitude and longtitude is more or less overlapping with the air_area_name, 
# I actually tested both with or without the location information and found it's not necessary
# to keep them in the total_dataset. 
# However, it dones't hurt to show how to cluster the latitude and longtitude and include them in the total_dataset as below.
# The method of clustering the locations of the restaurants was from 'Clustering to Reduce Spatial Data Set Size'
# http://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/

"""
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
#from geopy.distance import great_circle
#from shapely.geometry import MultiPoint

coords =total_dataset.as_matrix(columns=['latitude', 'longitude'])
#coords = total_dataset.as_matrix(columns=['latitude', 'longitude'])
#pd.unique(total_dataset['latitude', 'longitude'])
print(len(coords))
"""

"\nimport pandas as pd, numpy as np, matplotlib.pyplot as plt\nfrom sklearn.cluster import DBSCAN\n#from geopy.distance import great_circle\n#from shapely.geometry import MultiPoint\n\ncoords =total_dataset.as_matrix(columns=['latitude', 'longitude'])\n#coords = total_dataset.as_matrix(columns=['latitude', 'longitude'])\n#pd.unique(total_dataset['latitude', 'longitude'])\nprint(len(coords))\n"

In [91]:
'''
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=3000, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))
print(len(cluster_labels))
'''

"\nkms_per_radian = 6371.0088\nepsilon = 1.5 / kms_per_radian\ndb = DBSCAN(eps=epsilon, min_samples=3000, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))\ncluster_labels = db.labels_\nnum_clusters = len(set(cluster_labels))\nclusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])\nprint('Number of clusters: {}'.format(num_clusters))\nprint(len(cluster_labels))\n"

In [107]:
# One Hot Encoding Conversion use the pandas.get_dummies
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html
    
# total_dataset = pd.concat([total_dataset, pd.get_dummies(cluster_labels, prefix='loc')], axis = 1)
total_dataset.drop(['latitude', 'longitude'], axis = 1, inplace = True)
temp = pd.get_dummies(total_dataset['air_store_id'])
total_dataset = pd.concat([total_dataset,temp],axis=1)
total_dataset.head()

,air_store_id,visit_date,visitors,holiday_flg,month,day,Asian,Bar/Cocktail,Cafe/Sweets,Creative cuisine,...,air_fd6aac1043520e83,air_fdc02ec4a3d21ea4,air_fdcfef8bd859f650,air_fe22ef5a9cbef123,air_fe58c074ec1445ea,air_fea5dc9594450608,air_fee8dcf4d619598e,air_fef9ccb3ba0da2f7,air_ffcc2d5087e1b476,air_fff68b929994bfbd
0,air_ba937bf13d40fb24,2016-01-13,25,0,1,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,air_ba937bf13d40fb24,2016-01-14,32,0,1,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,air_ba937bf13d40fb24,2016-01-15,29,0,1,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,air_ba937bf13d40fb24,2016-01-16,22,0,1,16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,air_ba937bf13d40fb24,2016-01-18,6,0,1,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
sep = len(df['air_visit_data'])
train = total_dataset[:sep]
to_predict = total_dataset[sep:]
print(len(train))
print(len(to_predict))

252108
32019

In [94]:
# Just in case the data set need to be saved, the following code would be used.

# train.to_csv('train.csv', encoding='utf-8', index=False)
# to_predict.to_csv('to_predict.csv', encoding='utf-8', index=False)

In [2]:
# To retrieve the data

# train = pd.read_csv('train.csv')
# to_predict = pd.read_csv('to_predict.csv')
# total_dataset = pd.read_csv('total_dataset.csv')

## Part 2. Train the data with Keras model

In [109]:
# The RMSLE is required for the evaluation

import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
def RMSLE(y, pred):
    return mean_squared_error(y, pred)**0.5

In [110]:
# Get the matrix needed for the keras model 

col = [c for c in train if c not in ['air_store_id', 'visit_date', 'visitors']]
X_train, y_train = train[col], train['visitors']
X_to_predict = to_predict[col]
value_X = X_train.values
value_y = y_train.values
value_X_to_predict = X_to_predict.values
print(value_X.shape)
print(value_y.shape)
print(value_X_to_predict.shape)

(252108, 958)
(252108,)
(32019, 958)

In [111]:
# Normalize the data

from sklearn.preprocessing import MinMaxScaler

scaler_X = MinMaxScaler(feature_range=(0, 1))
scaled_X = scaler_X.fit_transform(value_X)
scaled_X_to_predict = scaler_X.transform(value_X_to_predict)
# scaler_y = MinMaxScaler(feature_range=(0, 1))
# value_y = value_y.reshape((len(value_y), 1))
# scaled_y = scaler_y.fit_transform(value_y)

c:\program files\python35\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [112]:
# Split the data

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_X, value_y, test_size=0.3, random_state=42)

In [113]:
# Initial Setup for Keras
from keras.models import Sequential
from keras import optimizers, regularizers
from keras.layers import Dense, Input, Activation, Dropout

# Build the Neural Network in Keras
model = Sequential()
model.add(Dense(512, activation = 'relu', input_shape=(958,)))
model.add(Dense(256, activation = 'relu', input_shape=(958,)))
model.add(Dense(128, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='relu'))

sgd = optimizers.SGD(lr=0.005, decay=1e-6, momentum=0.9, nesterov=False)

model.compile(loss='mean_squared_error', optimizer=sgd)

for l in model.layers:
    print(l.name, l.input_shape, l.output_shape)

dense_13 (None, 958) (None, 512)
dense_14 (None, 512) (None, 256)
dense_15 (None, 256) (None, 128)
dense_16 (None, 128) (None, 32)
dense_17 (None, 32) (None, 1)

In [114]:
history = model.fit(X_train, np.log1p(y_train), batch_size = 128, epochs=20,
                    validation_data=(X_test, np.log1p(y_test)), verbose=1)

Train on 176475 samples, validate on 75633 samples
Epoch 1/20
176475/176475 [==============================] - 40s 225us/step - loss: 0.5468 - val_loss: 0.3441
Epoch 2/20
176475/176475 [==============================] - 36s 202us/step - loss: 0.3231 - val_loss: 0.3058
Epoch 3/20
176475/176475 [==============================] - 29s 167us/step - loss: 0.2999 - val_loss: 0.2915
Epoch 4/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2866 - val_loss: 0.2904
Epoch 5/20
176475/176475 [==============================] - 29s 162us/step - loss: 0.2783 - val_loss: 0.2788
Epoch 6/20
176475/176475 [==============================] - 28s 161us/step - loss: 0.2723 - val_loss: 0.2930
Epoch 7/20
176475/176475 [==============================] - 31s 176us/step - loss: 0.2662 - val_loss: 0.2929
Epoch 8/20
176475/176475 [==============================] - 34s 194us/step - loss: 0.2623 - val_loss: 0.2721
Epoch 9/20
176475/176475 [==============================] - 31s 174us/step - loss: 0.2590 - val_loss: 0.2717
Epoch 10/20
176475/176475 [==============================] - 28s 161us/step - loss: 0.2557 - val_loss: 0.2715
Epoch 11/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2543 - val_loss: 0.2728
Epoch 12/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2503 - val_loss: 0.2699
Epoch 13/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2485 - val_loss: 0.2718
Epoch 14/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2465 - val_loss: 0.2681
Epoch 15/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2447 - val_loss: 0.2668
Epoch 16/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2416 - val_loss: 0.2792
Epoch 17/20
176475/176475 [==============================] - 28s 160us/step - loss: 0.2405 - val_loss: 0.2653
Epoch 18/20
176475/176475 [==============================] - 35s 196us/step - loss: 0.2386 - val_loss: 0.2655
Epoch 19/20
176475/176475 [==============================] - 36s 205us/step - loss: 0.2366 - val_loss: 0.2732
Epoch 20/20
176475/176475 [==============================] - 45s 253us/step - loss: 0.2358 - val_loss: 0.2671

In [115]:
# Evaluate the model with RMSLE
y_ = model.predict(X_test)
y_test = y_test.reshape(-1, 1)
rmsle = RMSLE(np.log1p(y_test), y_)
print('Test RMSLE: %.3f' % rmsle)

Test RMSLE: 0.517

In [116]:
# Predict the visitors and generate the file for submission

y_predicted = np.expm1(model.predict(scaled_X_to_predict))

submit = pd.read_csv('sample_submission.csv')

submit['visitors'] = y_predicted

submit.to_csv('to_submit.csv', encoding='utf-8', index=False)